language: node_js
node_js:
  - "12"
cache:
  directories:
    - node_modules
script:
  - npm run test
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: build
  github_token: $GITHUB_TOKEN
  target_branch: gh-pages
  keep_history: true
  on:
    branch: main