* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: $font1;

  @include dark {
    color: $dtext;
    background: $dsecondary-1;
  }
}

a {
  text-decoration: none;
  color: unset;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  img {
    width: 400px;
    height: auto;

    @include dark {
      filter: invert(0.5);
    }
  }
}

.success {
  color: $green;
}

.warning {
  color: $orange;
}

.danger {
  color: $red;
}

div {
  @include dark {
    border-color: $dsecondary-2 !important;
  }
}

.metric-wrapper {
  @include dark {
    border-color: $muted !important;
  }
}

h1,
h2,
h3,
span.header {
  @include dark {
    color: $dheading !important;
  }
}
