* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;

  @include dark {
    background: $dsecondary-1;
  }
}

a {
  text-decoration: none;
  color: unset;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  img {
    width: 400px;
    height: auto;

    @include dark {
      filter: invert(0.5);
    }
  }
}
