#results {
  width: 100%;

  .alert {
    width: 100%;
    margin-bottom: 4em;
    text-align: left;
    background: #eeeeee;
    padding: 0.8em;

    @include dark {
      background: $dsecondary-2;
      color: $dtext;
    }

    .highlight {
      background: $secondary-1;
      padding: 0.3em 0.5em;
      border-radius: 2em;
      margin-left: 0.6em;

      @include dark {
        background: $dprimary-2;
        color: $dtext;
      }
    }

    .highlight:hover {
      filter: brightness(0.8);
    }
  }

  .loading {
    width: 80%;
    margin: 4em auto;
    display: block;
  }

  .box {
    width: fit-content;
  }

  .show-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .default {
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 768px;
    line-height: 1.5;
    color: $muted;
    margin: auto;

    .header {
      font-weight: bold;
      display: block;
      margin-bottom: 0.5em;
      color: $black;

      @include dark {
        color: #e1e1e1;
      }
    }

    a {
      color: $primary-1;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    margin: 1em auto;

    @include dark {
      color: $dheading;
    }
  }

  .text {
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 720px) {
    .default {
      display: flex;
      flex-direction: column;
    }
  }
}
