#results {
  width: 100%;

  .loading {
    width: 80%;
    margin: 4em auto;
    display: block;
  }

  .box {
    width: fit-content;
  }

  .show-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .default {
    border-top: 1px solid $dheading;
    width: 100%;

    .default-wrapper {
      display: grid;
      margin: auto;
      padding: 4em;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
      max-width: 768px;
      line-height: 1.5;
      color: $muted;

      .header {
        font-weight: bold;
        display: block;
        margin-bottom: 0.5em;
        color: $black;
      }

      a {
        color: $primary-1;

        @include dark {
          color: $primary-2;
        }
      }
    }
  }

  .text {
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 720px) {
    .default-wrapper {
      display: flex !important;
      flex-direction: column;
    }
  }
}
